[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
pandas = "*"
requests = "*"
pydantic = "*"
loguru = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
pymysql = "*"
celery = "*"
stats = {editable = true,path = "."}
numpy = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"